#header {
  .navbar-brand img {
    height: 50px;
  }

  .navbar-collapse {
    justify-content: space-between;
  }

  .nav-link {
    color: $primary;

    &:hover,
    &:focus {
      color: $accent-dark;
      text-decoration: $link-hover-decoration;
    }

    &.is-active {
      font-weight: bold;
    }
  }

  .navbar-toggler {
    border-color: transparent;
  }

  [id^="views-exposed-form"][id*="solr-search"] {
    .form-row {
      flex-wrap: nowrap;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-item-keys {
      flex-shrink: 1;
      flex-grow: 1;
    }

    label {
      @include sr-only();
    }
    .form-item-sort-by {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      input {
        max-width: 200px;
      }
    }
  }
}
