table {
  background-color: $gray-100;
  width: 100%;
  margin-bottom: 1rem;

  &,
  td,
  th {
    border: 1px solid $border-color;
  }

  td,
  th {
    padding: .2rem .5rem;
    vertical-align: top;
  }

  thead {
    td,
    th {
      border-bottom-width: 2px;

    }
  }
}
