.view-header {
  margin-bottom: 1rem;
}

.views-exposed-form .form-row {
  align-items: flex-end;
}

.view:not(.view-eva) .views-row {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 1rem;
}

.views-label {
  display: inline-block;
  width: 100px;
  font-size: 0.875rem;
  color: $medium-gray;
}

.views-field-title {
  font-family: $font-family-quicksand;
  font-size: 1.375rem;
}

.views-field-search-api-excerpt,
.views-field-field-description,
.views-field-field-tags {
  margin-bottom: 1rem;
}

.more-link {
  margin-bottom: 2rem;
}
