.site-footer {
  margin-top: 2rem;

  a {
    color: #FFF;

    &:hover,
    &:focus {
      text-decoration: $link-hover-decoration;
    }

    &:visited {
      color: #FFF;
    }
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }

  .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
