#header {
  margin-bottom: 1rem;

  .navbar-brand img {
    height: 100px;
  }

  .navbar-collapse {
    justify-content: space-between;
  }

  .nav-link {
    color: $primary;

    &:hover,
    &:focus {
      color: $accent-dark;
      text-decoration: $link-hover-decoration;
    }

    &.is-active {
      color: white;
      font-weight: 600;
      text-decoration: $link-hover-decoration;
    }
  }

  .navbar-toggler {
    border-color: transparent;
  }

  @include media-breakpoint-down(sm) {
    .menu--account .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    .menu--main {
      margin-left: -0.5rem;
    }
  }
}

#views-exposed-form-solr-search-archivescentral-index-page-2 {
  .form-row {
    flex-wrap: nowrap;
  }

  .form-item-keys {
    flex-shrink: 1;
  }

  label {
    @include sr-only();
  }
  .form-item-sort-by {
    display: none;
  }

  @include media-breakpoint-up(md) {
    input {
      width: 200px;
    }
  }
}

#block-archives-central-account-menu {
  @include media-breakpoint-down(sm) {
    .nav {
    flex-direction: column;
    }
  }
}
